<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <!-- Google Fonts Link -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter&display=swap"
      rel="stylesheet"
    />
    <!-- Stylesheet Link -->
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <nav class="nav">
      <div class="logo"></div>
      <div class="title">QUIZZTER</div>
      <ul class="nav-list">
        <li class="nav-item"><a class="nav-link" href="">About</a></li>
        <li class="nav-item">
          <a class="nav-link" href="/register">Sign Up</a>
        </li>
        <li class="nav-item"><a class="nav-link" href="/signin">Sign In</a></li>
      </ul>
    </nav>
    <div class="wrapper">
      <div class="hero">
        <p class="hero-main">Welcome to Quizzter</p>
        <p class="hero-sub">The all new, fun way to learn</p>
      </div>
      <div class="container-1">
        <div class="target-1"><p>Choose from a range of topics!</p></div>
      </div>
      <div class="container-2">
        <div class="target-2">
          <p>Compete with people from all around the world</p>
        </div>
      </div>
      <div class="container-3">
        <div class="target-3"><p>Win amazing prizes</p></div>
      </div>
    </div>
  </body>
</html>
