<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <!-- Google Fonts Link -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter&display=swap"
      rel="stylesheet"
    />
    <!-- Stylesheet Link -->
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <nav class="nav">
      <div class="logo"></div>
      <div class="title">QUIZZTER</div>
      <div class="hamburger">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
      </div>
      <ul class="nav-list">
        <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
        <li class="nav-item">
          <a class="nav-link" href="/register">Sign Up</a>
        </li>
        <li class="nav-item"><a class="nav-link" href="/signin">Sign In</a></li>
      </ul>
    </nav>
    <div class="wrapper-wrapper">
      <div class="wrapper2">
        <div class="hero">
          <div class="hero-main">
            <h1>WELCOME TO QUIZZTER!!</h1>
            <h3>THE ALL NEW, FUN WAY TO LEARN!</h3>
            <p>
              With over 4000 questions in over 24 categories, Quizzter is one of
              the most engaging and creative trivia platforms available with a
              global userbase and an unstoppable dream of being the best in the
              business.
            </p>
            <a class="a" href="/sample">
              <button class="sample-btn">Try a sample quiz</button>
            </a>
            <a class="a" href="/register">
              <button class="register-btn">Register Now!</button>
            </a>
          </div>
          <img src="logo.svg" alt="logo" />
        </div>
        <div class="mid">
          <h3>WHY QUIZZTER?</h3>
          <br />
          <hr class="hr" />
          <div class="mid-main">
            <div class="user-div">2500+ | Active Users</div>
            <div class="q-div">4000+ | Questions</div>
            <div class="cat-div">24+ | Categories to choose from</div>
          </div>
          <a class="a" href="/register">
            <button class="register-btn">Register Now!</button>
          </a>
        </div>
      </div>
    </div>
    <script src="index.js"></script>
  </body>
</html>
