<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Quiz</title>
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <nav class="nav">
      <div class="logo"></div>
      <div class="title">QUIZZTER</div>
      <div class="hamburger">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
      </div>
      <ul class="nav-list">
        <li class="nav-item"><a class="nav-link" href="/">Exit</a></li>
      </ul>
    </nav>
    <div class="wrapper-wrapper">
      <div class="wrapper3">
      <div class="topic-div">
        <div class="progress">
          <progress value = 0 max = "3"/>
        </div>
        <p>Category: General Knowledge</p>
        <div class="score-div">
          <span class="score"></span>
        </div>
      </div>
      <div class="question-wrapper">
        <p class="question"></p>
      </div>
      <form class="option-form" action="" method="">
        <button type="button" class="option" id="1">
          <p class="option1"></p>
        </button>
        <button type="button" class="option" id="2">
          <p class="option2"></p>
        </button>
        <button type="button" class="option" id="3">
          <p class="option3"></p>
        </button>
        <button type="button" class="option" id="4">
          <p class="option4"></p>
        </button>
      </form>
    </div>
    </div>
    <script type="module" src="sample.js"></script>
    <script src="index.js"></script>
  </body>
</html>
