<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Scoreboard</title>
    <link rel="stylesheet" href="css/style3.css" />
  </head>
  <body>
    <nav class="nav">
      <div class="logo"></div>
      <div class="title">QUIZZTER</div>
      <div class="hamburger">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
      </div>
      <ul class="nav-list">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
      </ul>
    </nav>
    <div class="wrapper-wrapper">
      <div class="wrapper1">
        <form class="score-form">
          <div>
            <p>Well done!</p>
          </div>
          <div class="topic-div">
            <p>Category: General Knowledge</p>
          </div>
          <div class="score">
            <p class="final-score"></p>
          </div>
          <div>
            <p>Score breakdown:</p>
            <br />
            <table>
              <tr>
                <th>Question</th>
                <th>Result</th>
                <th>Points</th>
              </tr>
              <tr>
                <td>Q.1</td>
                <td class="1-1"></td>
                <td class="1-2"></td>
              </tr>
              <tr>
                <td>Q.2</td>
                <td class="2-1"></td>
                <td class="2-2"></td>
              </tr>
              <tr>
                <td>Q.3</td>
                <td class="3-1"></td>
                <td class="3-2"></td>
              </tr>
            </table>
          </div>
        </form>
      </div>
    </div>
    <script type="module" src="score.js"></script>
    <script src="index.js"></script>
  </body>
</html>
