* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --light-color: #f2f2f2;
  --mid-color: #d5d5d5;
  --dark-color: #1f1f1f;
}

body {
  overflow-x: hidden;
  background-image: url("background.png");
  background-size: cover;
  color: var(--dark-color);
  font-family: "Inter", sans-serif;
  min-height: 100vh;
}

/* HOME PAGE */

.nav {
  width: 95%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-content: center;
  padding: 20px 0 10px;
  border-bottom: 1px solid var(--dark-color);
}

.nav-list {
  font-size: 1rem;
  list-style: none;
  display: flex;
  gap: 50px;
  margin: 0 30px 0 0;
}

.nav-link {
  text-decoration: none;
  color: var(--dark-color);
}

.title {
  font-size: 1.5rem;
}

.hero {
  /* flex-grow: 1; */
  flex-basis: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.hero-main {
  flex-basis: 0;
  flex-grow: 1;
  margin: 0 30px;
}

.hero-main h3 {
  margin-top: 20px;
}

.hero-main p {
  margin: 20px 0;
  width: 80%;
}

.hero img {
  flex-basis: 0;
  height: 300px;
  margin: 30px;
}

.a {
  text-decoration: none;
}

.sample-btn {
  font-size: 16px;
  border: none;
  border-radius: 0.5rem;
  background-color: #1f1f1f;
  color: #f2f2f2;
  height: 40px;
  width: 150px;
  font-family: "Inter", sans-serif;
  cursor: pointer;
}

.register-btn {
  font-size: 16px;
  border: 1px solid #030303;
  border-radius: 0.5rem;
  background-color: #f2f2f2;
  color: #1f1f1f;
  height: 40px;
  width: 150px;
  font-family: "Inter", sans-serif;
  cursor: pointer;
}

.sample-btn:hover {
  background-color: #f2f2f2;
  color: #1f1f1f;
  border: 1px solid #1f1f1f;
  transition: background-color 0.3s;
}

.register-btn:hover {
  background-color: #030303;
  color: #f2f2f2;
  transition: background-color 0.3s;
}

.mid {
  margin: 20px 0 0;
  width: 100%;
  /* height: 50vh; */
  /* background-color: #020202; */
  color: #f2f2f2;
  text-align: center;
  padding: 30px;
}

.hr {
  width: 5%;
  margin: auto;
  color: #f2f2f2;
  border-top: none;
}

.mid-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 40px 0;
}

.mid-main div {
  flex-basis: 0;
  flex-grow: 1;
  padding: 20px 0;
  min-width: 200px;
}

.q-div {
  border-right: 1px solid #fff;
  border-left: 1px solid #fff;
}

.container-1,
.container-2,
.container-3 {
  height: 100px;
  display: flex;
  align-items: center;
  width: clamp(300px, 75vw, 1100px);
  margin: 0 auto;
}

.target-1,
.target-2,
.target-3 {
  height: 70px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin: 0 80px; */
  padding: 10px;
  background-color: var(--mid-color);
  font-size: 1rem;
}

.container-1,
.container-3 {
  justify-content: flex-start;
}

.container-2 {
  justify-content: flex-end;
}

/* SIGNIN PAGE */
.container {
  height: calc(100vh - 100px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.sign-container {
  padding: 40px 60px;
  border: none;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 2.5rem;
}

.sign-container h2 {
  color: #f2f2f2;
}

.sign-input {
  color: var(--dark-color);
  height: 40px;
  width: 180px;
  padding: 0 10px;
  font-size: 1rem;
  background-color: #d5d5d5;
  border: none;
  outline: none;
}

::placeholder {
  color: var(--dark-color);
  opacity: 0.6;
}

.btn-input {
  color: var(--dark-color);
  border: none;
  border-radius: 0.5rem;
  text-align: center;
  height: 45px;
  width: 180px;
  font-size: 1rem;
  background-color: #d5d5d5;
  margin: auto;
}

.sign-form {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.category-container {
  padding: 60px 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px 0 0;
  flex-basis: 0;
  flex-grow: 1;
  mix-blend-mode: exclusion;
}

.wrapper1 {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  padding: 30px 0 0;
  flex-basis: 0;
  flex-grow: 1;
  mix-blend-mode: difference;
}

.wrapper2 {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px 0 0;
  flex-basis: 0;
  flex-grow: 1;
}

.wrapper3 {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0 0;
  flex-basis: 0;
  flex-grow: 1;
}

.motto {
  display: flex;
  align-items: center;
}

.motto p {
  transform: rotate(-90deg);
  height: fit-content;
  font-size: 30px;
}

.logo-img {
  width: 400px;
}

.options {
  width: 45px;
  height: 45px;
  font-size: 1rem;
  background-color: var(--mid-color);
  color: var(--dark-color);
}

.option-form {
  text-align: center;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.option {
  text-align: left !important;
  background-color: #f2f2f2;
  width: 50vw;
  height: 50px;
  border: 1px solid #1f1f1f;
  color: #1f1f1f;
  padding: 0 10px;
  font-size: 18px;
  font-family: "Inter", sans-serif;
  cursor: pointer;
}

.option:hover {
  background-color: #1f1f1f;
  color: #f2f2f2;
  transition: background-color 0.5s;
}

.question {
  font-size: 1.25rem;
  margin: 1.5rem 1rem 2.5rem;
  text-align: center;
}

.question-wrapper {
  overflow: auto;
  display: flex;
  justify-content: space-around;
}

.score-div {
  margin: 20px 0;
  padding: 5px;
  border: 1px solid #1f1f1f;
  border-radius: 0.5rem;
}

table {
  border-spacing: 0;
  background: rgba(242, 242, 242, 0);
  color: #f2f2f2;
  border-left: 1.5px solid #f2f2f2;
  border-bottom: 1.5px solid #f2f2f2;
}

th,
td {
  padding: 2rem;
  border-right: 1.5px solid #f2f2f2;
  border-top: 1.5px solid #f2f2f2;
}

.progress {
  display: inline-block;
  overflow: hidden;
  border-radius: 10px;
  height: fit-content;
  width: fit-content;
  border: 1px solid #1f1f1f;
  background-color: #1f1f1f;
}

/* For Firefox */
progress::-moz-progress-bar {
  background: #1f1f1f;
  height: 20px;
  width: 90px;
}

/* For Chrome or Safari */
progress::-webkit-progress-value {
  background: #1f1f1f;
  height: 20px;
  width: 90px;
}

progress::-webkit-progress-bar {
  background: #f2f2f2;
}

/* For IE10 */
progress {
  background: #1f1f1f;
  height: 20px;
  width: 90px;
}

.topic-div {
  display: flex;
  justify-content: space-between;
  min-width: 90vw;
  align-items: center;
  flex-wrap: wrap;
}

.score {
  font-size: 1.25rem;
}

.hamburger {
  cursor: pointer;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
}

.line1,
.line2,
.line3 {
  height: 2px;
  width: 1.5rem;
  background-color: #1f1f1f;
}

.line1-clicked,
.line2-clicked,
.line3-clicked {
  position: absolute !important;
}

.line1-clicked {
  transform: rotate(45deg);
  transition: transform 0.3s;
}

.line3-clicked {
  transform: rotate(-45deg);
  transition: transform 0.3s;
}

.line2-clicked {
  display: none !important;
}

@media screen and (max-width: 950px) {
  .nav-link {
    color: #f2f2f2;
  }

  .clicked {
    display: none;
  }

  .hamburger {
    display: flex;
    cursor: pointer;
  }

  .nav-list {
    position: fixed;
    top: 100px;
    transform: translate(100vw);
    transition-property: transform;
    transition-duration: 0.5s;
    flex-direction: column;
    mix-blend-mode: exclusion;
  }

  .nav-list-clicked {
    transform: translate(0);
    top: 100px;
    transition-property: transform;
    transition-duration: 0.5s;
  }
}

@media screen and (max-width: 600px) {
  .topic-div {
    flex-direction: column;
  }

  .progress {
    order: 3;
  }

  .score-div {
    order: 2;
  }

  .topic-div p {
    order: 1;
  }
}
