* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "mariagedregular";
  src: url("mariaged-webfont.woff2") format("woff2"),
    url("mariaged-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

:root {
  --light-color: #f2f2f2;
  --mid-color: #d5d5d5;
  --dark-color: #1f1f1f;
}

body {
  color: var(--light-color);
  background-color: var(--dark-color);
  font-family: "Inter", sans-serif;
  min-height: 100vh;
}

/* HOME PAGE */

.nav {
  width: 95%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-content: center;
  padding: 20px 0 10px;
  border-bottom: 1px solid var(--light-color);
}

.title {
  font-size: 1.5rem;
}

.nav-list {
  font-size: 1rem;
  list-style: none;
  display: flex;
  gap: 50px;
  margin: 0 30px 0 0;
}

.nav-link {
  text-decoration: none;
  color: var(--light-color);
}

::placeholder {
  color: var(--dark-color);
  opacity: 0.6;
}

.btn-input {
  color: var(--dark-color);
  text-align: center;
  height: 45px;
  width: 180px;
  font-size: 1rem;
  background-color: var(--light-color);
}

.sign-form {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.category-container {
  padding: 60px 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.category {
  background-color: #1f1f1f;
  border: 1px solid #f2f2f2;
  padding: 10px;
  height: 200px;
  width: 200px;
  font-size: 1.1rem;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  color: var(--light-color);
}

.category p {
  position: relative;
  transition: 0.5s;
}

.category::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 130%;
  height: 200px;
  background-color: #f2f2f2;
  transform: translate(-110%, 0);
  transition: 0.5s;
  z-index: 5;
}

.category p {
  z-index: 10;
}

.category:hover::before {
  transform: translate(-5%, 0);
}

.category:hover {
  color: #1f1f1f;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px 0 0;
  flex-basis: 0;
  flex-grow: 1;
}

.wrapper1 {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0 0;
  flex-basis: 0;
  flex-grow: 1;
}

.wrapper3 {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0 0;
  flex-basis: 0;
  flex-grow: 1;
}

.options {
  width: 45px;
  height: 45px;
  font-size: 1rem;
  background-color: var(--mid-color);
  color: var(--dark-color);
}

.option-form {
  text-align: center;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.option {
  text-align: left !important;
  background-color: #f2f2f2;
  width: 50vw;
  height: 50px;
  border: 1.5px solid #1f1f1f;
  color: #1f1f1f;
  padding: 0 10px;
  font-size: 18px;
  font-family: "Inter", sans-serif;
  cursor: pointer;
}

.option:hover {
  background-color: #1f1f1f;
  color: #f2f2f2;
  transition: background-color 0.5s;
}

.question {
  font-size: 1.25rem;
  margin: 1.5rem 0 2.5rem;
}

.score-div {
  margin: 20px 0;
  padding: 5px;
  border: 1px solid #1f1f1f;
  border-radius: 0.5rem;
}

table {
  border-spacing: 0;
  color: var(--light-color);
  border-left: 1.5px solid var(--light-color);
  border-bottom: 1.5px solid var(--light-color);
}

th,
td {
  padding: 2rem;
  border-right: 1.5px solid var(--light-color);
  border-top: 1.5px solid var(--light-color);
}

.btn-wrapper {
  text-align: center;
  margin: 1rem 0 2rem;
}

.score-form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.leaderboard-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hamburger {
  cursor: pointer;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
}

.line1,
.line2,
.line3 {
  height: 2px;
  width: 1.5rem;
  background-color: #f2f2f2;
}

.line1-clicked,
.line2-clicked,
.line3-clicked {
  position: absolute !important;
}

.line1-clicked {
  transform: rotate(45deg);
  transition: transform 0.3s;
}

.line3-clicked {
  transform: rotate(-45deg);
  transition: transform 0.3s;
}

.line2-clicked {
  display: none !important;
}

.container {
  height: calc(100vh - 100px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.sign-container {
  padding: 40px 60px;
  border: 1px solid #f2f2f2;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 2.5rem;
}

.sign-container h2 {
  color: #f2f2f2;
}

.sign-input {
  color: var(--dark-color);
  height: 40px;
  width: 180px;
  padding: 0 10px;
  font-size: 1rem;
  background-color: #d5d5d5;
  border: none;
  outline: none;
}

::placeholder {
  color: var(--dark-color);
  opacity: 0.6;
}

.btn-input {
  color: var(--dark-color);
  border: none;
  border-radius: 0.5rem;
  text-align: center;
  height: 45px;
  width: 180px;
  font-size: 1rem;
  background-color: #d5d5d5;
  margin: auto;
}

.sign-form {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

@media screen and (max-width: 950px) {
  .nav-link {
    color: #f2f2f2;
  }

  .clicked {
    display: none;
  }

  .hamburger {
    display: flex;
    cursor: pointer;
  }

  .nav-list {
    position: fixed;
    top: 100px;
    transform: translate(100vw);
    transition-property: transform;
    transition-duration: 0.5s;
    flex-direction: column;
  }

  .nav-list-clicked {
    transform: translate(0);
    top: 100px;
    transition-property: transform;
    transition-duration: 0.5s;
  }
}
